body{
    background-color: rgb(43, 77, 66);    
}

.project-card-carousel {
    margin-top: 5vh;
    max-width: 75vw;
    
}

.project-card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 100% !important;
    margin: 5px;
    padding: 10px;
    background-color: rgb(14, 14, 14);
    color: white;
}
.card-button {
    position: relative;
    background-color: rgb(74, 173, 142);
    color: black;
    bottom: 5px;
}

#my-projects-header {
    margin-top: 15px;
    color: whitesmoke;
}